In [4]:
import seaborn as sns
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import datetime

In [4]:
data = pd.read_excel("C:\\Users\\saman\\OneDrive\\Desktop\\Python\\HospitalDatabase.xlsx","Patients")
data.head(10)

,PatientID,FirstName,LastName,DateOfBirth,Gender,Race,Language
0,1,Lanni,Sue,1960-01-01 00:00:00.000,Male,White,English
1,2,Far,Myers,1985-11-15 02:08:42.090,Male,White,English
2,3,Devlin,Michael,1976-04-15 02:52:09.762,Male,White,English
3,4,Carmine,Texas,1968-10-15 03:32:13.635,Male,White,English
4,5,Tann,Bama,1962-05-01 19:12:58.950,Male,White,English
5,6,Jerrilyn,Kane,1969-03-30 09:36:56.550,Male,White,English
6,7,Skipton,Bar,1975-11-25 22:23:53.525,Male,White,English
7,8,Alexandra,Green,1967-06-16 16:37:21.694,Male,White,English
8,9,Devlin,Black,1974-09-24 23:43:46.185,Male,White,English
9,10,Granny,Man,1969-09-15 11:20:42.218,Male,White,English

# Questions

### 21) Which demographic patients are prone to get stroke?

### 22)Create a dataframe with acuity and EDDisposition as the indices and the count of number of patients as the value.

### 23) Write a function to find the center element in the list. (one element in odd length list,  two elements in even length list).

### 24) Get the number of patients based on ReasonForVisit and EDDisposition (use stack/unstack functions).

### 25) Plot a graph by counting the no. of patients in each department.

### 26) Using arrays and loops, find the count of patients based on gender.

### 27)Plot a graph to count the patients based on discharge disposition.

### 28)Which reason of visit has maximum mortality rate.

### 29)Calculate average LOS.

### 30) Which patient id has most entries in readmission registry.

### 61) Plot a graph by multiplotting on the same canvas  (Take any set of x & y values).

### 62) Display the data for all 'White Female' patients above the age of 50.

### 63) Using loc, retrieve the firstname and lastname of patients between indices 101 and 200.

### 64)Using numpy functions, multiply the following arrays

In [24]:
a=np.arange(6).reshape(2,3)
b=np.arange(6).reshape(3,2)

#a @ b 

output = np.matmul(a,b)
output

array([[10, 13],
       [28, 40]])

### 65) Get the  number of patients based on service and primary diagnosis.

### 66) np.arange(1,31).reshape(6,5), find array slicing to get the elements 4,5,24,25,29,30.

### 67) Make a pivot table by the no. of patients from the admission date till discharge date.

In [5]:
df = pd.read_excel("C:\\Users\\saman\\OneDrive\\Desktop\\Python\\HospitalDatabase.xlsx","ReAdmissionRegistry")

pivot = pd.pivot_table (df, index = 'PatientID', values = ['AdmissionDate','DischargeDate'])
pivot

          AdmissionDate                 DischargeDate
PatientID
1            2018-01-01 2018-01-04 19:59:31.391000064
2            2018-01-01 2018-01-04 21:28:51.897999872
3            2018-01-01 2018-01-04 22:28:23.672000000
5            2018-01-01 2018-01-05 05:47:04.932999936
6            2018-01-01 2018-01-05 14:18:30.028999936
...                 ...                           ...
738          2018-02-22 2018-03-07 21:22:10.060999936
739          2018-02-22 2018-03-08 02:43:18.748999936
740          2018-02-22 2018-03-08 09:27:18.376999936
741          2018-02-22 2018-03-10 06:06:12.068000000
742          2018-02-22 2018-03-10 20:38:30.568000000

[704 rows x 2 columns]

### 68) Display the data where actual LOS is greater than expected LOS.

In [7]:
df = pd.read_excel("C:\\Users\\saman\\OneDrive\\Desktop\\Python\\HospitalDatabase.xlsx","Discharges")

df['DischargeDate'] = pd.to_datetime(df['DischargeDate'])
df['AdmissionDate'] = pd.to_datetime(df['AdmissionDate'])

df['ActualLOS'] = (df['DischargeDate'] - df['AdmissionDate']).dt.days

filter_df = df[df['ActualLOS'] > df['ExpectedLOS']]

filter_df

,AdmissionID,PatientID,AdmissionDate,DischargeDate,DischargeDisposition,Service,PrimaryDiagnosis,ExpectedLOS,ExpectedMortality,ActualLOS
1,257,93,2018-01-06,2018-01-18 02:59:04.667,Expired,Cardiology,Broken Leg,6.816558,0.628827,12
4,258,103,2018-01-07,2018-01-15 13:32:36.157,Expired,Cardiology,Broken Leg,2.639297,0.055468,8
5,395,109,2018-01-07,2018-01-22 17:57:37.103,Expired,Cardiology,Flu,2.981758,0.192976,15
6,396,115,2018-01-08,2018-01-17 02:19:05.623,Expired,Cardiology,Flu,4.959098,0.254923,9
7,259,116,2018-01-08,2018-01-20 03:40:53.605,Expired,Cardiology,Broken Leg,2.279624,0.491274,12
...,...,...,...,...,...,...,...,...,...,...
712,703,703,2018-02-21,2018-02-27 08:53:38.211,Transfer,General Medicine,Pneumonia,3.539165,0.275691,6
713,709,708,2018-02-21,2018-03-01 05:59:22.116,Transfer,General Medicine,Diabetes,4.518876,0.455570,8
714,697,713,2018-02-21,2018-03-04 00:23:19.967,Transfer,General Medicine,Pneumonia,8.542970,0.201036,11
715,715,716,2018-02-21,2018-03-06 03:31:05.262,Transfer,ICU,Heart Failure,11.362095,0.370695,13
719,710,742,2018-02-22,2018-03-10 20:38:30.568,Transfer,General Medicine,Diabetes,7.195441,0.286439,16

### 69) Details of the patients whose firstname or lastname contains string "lau" , should be case insensitive.

### 70) Plot a graph to show the distribution of expected mortality.